@tailwind base;
@tailwind components;
@tailwind utilities;

.yellow-button {
  @apply bg-gradient-to-b from-yellow-50 to-yellow-200 hover:from-slate-400 hover:to-slate-400 border-4 border-slate-300 text-xl rounded-xl px-2 mx-1;
}

.track-info {
  @apply whitespace-nowrap w-full;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
